@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
}

body { 
    background-color: white;
}

h1 {
    font-family: 'GangwonEduPowerExtraBoldA';
    margin: 0;
    pad: 0;
}

h1, h2 { 
    color: black;
}


nav {
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: gray;
    z-index: 1;
}

header {
    width: 100%;
    height: 1050px;
    text-align: center;
    position: relative;
    background-image: url(/img/milky-way-g6683eb209_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

header h1 {
    font-size: 50px;
    position: sticky;
    top: 50px;
    color: #FFF;
}

footer {
    position: relative;
    width: 100%;
    height: 150%;
    background-color: gray;
    display: flex;
    
}

section {
    width: 100%;
    height: 800px;
    position: relative;
}

section h1 {
    text-align: center;
    position: sticky;
    top: 50px;
}

button#color {
    background-color: gray;
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    position: fixed;
    outline: 0;
    right: 70px;
    bottom: 70px;
    z-index: 1;

}

button#color:hover {
    background-color: #FFF;
    border-color: white;
    color: black;
}